//nav bar styles


.navigation-bar {
  background-color: $color-nav;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 10;

  // pos static in smaller screens so it doesnt take up so much space
  @media screen and (max-width: $mq-computer) {
    position: static;

  }

  &__link {
    color: white;
    text-decoration: none;
    font-size: 30px;
    padding: 0 1vw 0 1vw;
    display: inline-block;
    position: relative;
    text-shadow: -1px 2px 2px black;

    @media screen and (max-width: $mq-phone) {
      font-size: 5vw;
    }

  }

  //animated underline
  &__link:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transition: transform 0.25s ease-out;
  }

  &__link:hover:after {
    transform: scaleX(1);

  }

  // not visible when in smaller screen for the hamburger menu to show up instead
  &__links {
    @media screen and (max-width: $mq-tablet) {
      display: none;
      width: 100%;
      flex-direction: column;
    }
  }
}



@media screen and (max-width: $mq-tablet) {
  .navigation-bar__links.show {
    display: flex;
    align-items: center;
  }
}

.logo {
  width: auto;
  height: 100%;
  background-color: transparent;
  margin-top: 2%;
  margin-left: 3%;

  @media screen and (max-width: $mq-phone) {
    width: 50%;
    height: 50%;
  }
}

.hamburger {
  background-color: transparent;
  border: 0;
  color: white;
  cursor: pointer;
  font-size: 20px;
  display: none;

  @media screen and (max-width: $mq-tablet) {
    display: block;
  }

}